body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
/*all tout*/
.partie-titre{
    font-size: 60px;
    font-style: italic;
    margin: auto;
}
.titre-gauche, .titre-droite{
    padding-top: 25px;
}
.titre-gauche{
  margin-left: 25px;
  margin-bottom: 25px;
}

.partie-margin{
    margin-bottom: auto; /* a supprimer */
}
.p-blanc{
    color: white;
}
.partie-formation, .partie-centre p{
    font-weight: 600;
}
.titre-droite{
    font-weight: normal!important;
}
.titre-droite{
    margin-right: 55px;
    text-align: right;
}
/*header*/
.partie-header{
    background-color: #F2E9E4;
}
.partie-header{
    padding-top: 17px;
    padding-bottom: 17px;
}
.img-osengo{
    width: 253px;
    height: 77px;
}
.maj::first-letter{
    text-transform: uppercase;
}

.partie-header, .div-navbar{
    display: flex;
}
.div-logo{
    flex: 1;
    position: relative;
    left: 25px;
}
.div-navbar{
    align-items: center;
    flex: 3;
    justify-content: space-evenly;
    color: #707070;
    font-size: 22px;
    width: 69%;
}
@media screen and (max-width:1536px) {
    .btn-font-size{
        font-size: 20px;
        transition: 0.5s;
    }
}
.btn-header{
    border: 1px solid #707070;
    width: 172px;
    text-align: center;
    border-radius: 30px;
    margin-left: 37px;
}
.btn-header p{
    position: relative;
    font-weight: 600;
}
.btn-contact{
    margin-right: 50px;
}
/*qsn qui sommes nous*/
.partie-qsn{
    background-color: #23597D;
}
.div-qsn-img{
    display: flex;
    justify-content: space-around;
}
.div-qsn-img img{
    border-radius: 17%;
    border: 1px solid #707070;
}
.div-qsn-text{
    line-height: 2;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 29px;
}
.div-qsn-text span{
    color: #EE991A;
    font-weight: bold;
}
/*nos formations*/
.partie-formation{
    background-color: #F7B801;
    height: 935px;
    font-size: 35px;
}
.partie-formation img{
    height: 283px;
    width: 282px;
}
.metier-formation, .texte-formation{
    display: flex;
}
.metier-formation{
    text-align: center;
    width: 69%;
}
.texte-formation{
    width: 353px;
    text-align: center;
}
.texte-formation p{
    position: relative;
    left: 51px;
    top: 50px;
}
.formation-flex{
    display: flex;
}
.div-web, .div-langue, .div-commerce{
    width: 70%;
}
.text-web, .text-langue, .text-commerce{
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
.vertical { 
    border-left: 1px solid black; 
    height: 770px 
    /* display: inline-block; */
    } 
/*nos stagiaires stg*/
.partie-stagiaire{
    background-color: #23597D;
}
.img-stg{
    height: 253px;
    width: 253px;
    border-radius: 50%;
}
.stg-formation{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.p-formation-stg{
    font-size: 35px;
    background-color: #F2E9E4;
    color: black;
    font-weight: 600;
    font-style: italic;
    border-radius: 35px;
    padding: 5px 12px 5px 12px;
    border: 1px solid #707070;
}
.stg-formation:first-child{
    position: relative;
    left: 50px;
    font-size: 38px;
    font-style: italic;
}
.stg-profil{
    padding-bottom: 50px;
}

.div-profil{
    width: 33%;
}
.div-stg-profil{
    display: flex;
    padding-top: 35px;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.div-stg-profil figcaption{
    padding-top: 10px;
}
.profil-padding{
    padding-top: 35px;
}
/*nos centres*/
.partie-centre{
    background-color: #F7B801;
}
.img-centre{
    height: 529px;
    width: 949px;
}
.centre-perpi, .centre-toulouse, .centre-montpellier{
    display: flex;
    align-items: center;
}
.centre-txt{
    font-size: 30px;
    text-align: center;
}
/*blog article*/
.partie-blog{
    background-color: #23597D;
}
.img-blog{
    height: 442px;
    width: 669px;
}
.partie-centre figcaption{
    font-size: 50px;
}
/*footer*/
.partie-footer{
    background-color: #F7B801;
}
.footer-logo{
    height: 103px;
    width: 103px;
}
.footer-logo-ytb{
    height: 132px;
}
